*{
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

.backDoor {
  background-image: url(../img/Little-Creek-Casino_Gaming-Floor-Interior-Casino-Design_Casino-Development-1800x1200.jpg);
  background-position: center;
  position:relative;
  width: 30%;
  height: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.door {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
 
  transform-origin: left;
  transition: all 1s ease-in-out;
}

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
