*{
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
}

.banner-wrapper {
    display: flex;
    justify-content: center;
}

.instruction {
    text-align: center;
}

.backDoor {
  background-image: url(../img/Little-Creek-Casino_Gaming-Floor-Interior-Casino-Design_Casino-Development-1800x1200.jpg);
  background-position: center;
  position:relative;
  width: 20%;
  height: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.door {
  background-color: brown;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
 
  transform-origin: left;
  transition: all 1s ease-in-out;
}

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.door-handle {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: yellow;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgb(182, 92, 111);
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}


